.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .headerList {
    gap:20px;
    align-items: center;
  justify-content: center;
  }
  .headerDesc{
    text-align: center;
  }
  .headerTitle{
    text-align: center;
  }

  .mobileText {
    display: block; /* Show on small screens */
  }
  .s{
    font-size: small;
  }
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  height: auto;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  width: 90%;
  max-width: 1024px;
  margin: auto; /* Center horizontally */
  margin-top: 40px;
  position: relative; /* Ensure relative positioning */
}

@media screen and (max-width: 768px) {
  .headerSearch {
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }

  .headerBtn {
    width: 90%; /* Adjust button width for mobile */
    margin: 20px; /* Add margin to separate from search */
  }


  .headerSearchItem {
    width: 100%;
    margin: 10px;
  }

  .headerSearchItem {
    position: relative; /* Ensure relative positioning */
  }

  .headerSearchText {
    z-index: 1; /* Ensure the span appears above other elements */
  }

  .date {
    position: absolute;
    top: 100%; /* Position the calendar below the span */
    left: 0;
    z-index: 2; /* Ensure the calendar appears above other elements */
  }
}


.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: calc(100% + 5px); /* Position below the input */
  left: 0;
  z-index: 2; /* Ensure the calendar appears above other elements */
}

.options {
  z-index: 2;
  position: absolute;
  top: calc(100% + 5px); /* Position below the input */
  left: 0;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
